airflow-provider-great-expectations
airflow-provider-mlflow
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-spark
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-papermill
apache-airflow-providers-slack
astro-sdk-python[postgres, amazon, snowflake]
black
boto3
confluent-kafka
evidently
flake8
great-expectations
ipykernel
kafka-python
matplotlib
minio
mlflow
mlflow-skinny
mypy
pandas
pandas
pathlib
protobuf
pyspark
pytest
pytest-cov
pytest-docker-tools
pytest-helpers-namespace
pytest-mock
python-snappy
