airflow-provider-great-expectations
airflow-provider-mlflow==1.1.0
apache-airflow-providers-apache-kafka
apache-airflow-providers-apache-spark
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-papermill
apache-airflow[amazon,async,celery,cncf.kubernetes,docker,grpc,hashicorp,http,pandas]
astro-sdk-python[postgres]
black
boto3
confluent-kafka
crc32c
delta-spark
deltalake
evidently
flake8
great-expectations
h5py
ipdb
ipykernel
kafka-python
lightgbm
lz4
matplotlib
minio
mlflow
mlflow-skinny==2.3.2
mypy
pandas
pandas
pathlib
protobuf
pyspark
pytest
pytest-cov
pytest-docker-tools
pytest-helpers-namespace
pytest-mock
python-snappy
s3fs
scikit-image
scikit-learn
scipy
seaborn
snappy
sqlalchemy
statsmodels
sympy
tensorflow
